nav {
  position: fixed;
  text-align: center;
  height: 25px;
  top:0;
  width: 100%;
}

nav ul {
  background: rgb(191, 136, 255);
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: .5em;
  text-align:center;
  width: 100px;
}

nav ul li:hover {
  background:rgb(172, 99, 255);
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration:none;
}


