/* holiday stuff (Halloween) */


body {
  background: rgb(41, 41, 41);
  color: whitesmoke;
}

header {
  font-size: 50px;
}

footer {
  background-color: rgb(191, 136, 255);
  height: 32px;
  text-align: center;
  margin-top: 25px;
}

footer p {
  padding-top: 10px;
  color: black;
}

section {
  text-align: center;
}

.itemOne {
  height: 150px;
  text-align: center;
  margin-top: 25px;
  outline-style: solid;
}

.itemTwo {
  height: 125px;
  text-align: center;
  outline-style: solid;
}

.itemTextOne {
  line-height: 140px;
}

.itemTextTwo {
  line-height: 120px;
}


/* ------- Boxes -------*/
.row {
  display: flex;
  width: 100%;
}

.row div {
  width: 50%;
}

.noMargin {
  margin: 0px;
}

.boxOne {
  text-align: center;
  height: 250px;
  line-height: 200px;
  outline-style: solid;
  outline-color: whitesmoke;
}

.boxTwo {
  text-align: center;
  height: 250px;
  line-height: 200px;
  outline-style: solid;
  outline-color: whitesmoke;
}

.boxThree {
  text-align: center;
  height: 250px;
  line-height: 200px;
  outline-style: solid;
  outline-color: whitesmoke;
}

.boxFour {
  text-align: center;
  height: 250px;
  line-height: 200px;
  outline-style: solid;
  outline-color: whitesmoke;
}